@page
@model RazorPagesMovie.Pages_Nhanvien.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Hovaten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Hovaten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Namsinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Namsinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Gioitinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Gioitinh)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Nhanvien.NhanvienID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
