@page
@model RazorPagesMovie.Pages_lectures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lecture[0].Tenmonhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecture[0].Sotiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecture[0].Noidung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lecture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenmonhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sotiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LectureID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LectureID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LectureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
