@page
@model RazorPagesMovie.Pages_Persons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Hovaten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Tuoi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hovaten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
