@page
@model RazorPagesMovie.Pages_Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Manhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Tennhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Gioitinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manhanvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennhanvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmployeeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
